
.kasa-footer {
    display: flex;
    width: 1440px;
    height: 209px;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kasa-footer img {
    width: 122px;
    height: 39.444px; 
    fill: white;
}

.kasa-footer p {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
}