
.kasaHeader {
    display: flex;
    max-width: 1240px;
    height: 68px;
    justify-content: space-between;
    align-items: center;
    width: 87%;
}

.kasaHeader img {
    width: 210.322px;
    height: 68px;
    flex-shrink: 0;
}

.kasaHeader_nav {
    display: flex;
    align-items: flex-start;
    gap: 57px;
}

.kasaHeader_nav_activated {
    text-decoration: underline;
}

.kasaHeader_nav_notActivated {
    text-decoration: none;
}

.kasaHeader_nav a {
    color: #FF6060;
    text-align: right;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
}

@media (450px <= width <= 560px) {

    .kasaHeader img {
        width: 170px;
        height: 55px;
    }

    .kasaHeader_nav {
        gap: 26px;
        justify-content: flex-end; 
    }

    .kasaHeader_nav a {
        font-size: 21px;
    }
}

@media (max-width: 450px) {
    .kasaHeader {
        max-width: 86%;
        width: 100%;
        gap: 0;
    }

    .kasaHeader img {
        width: 140px;
        height: 46px;
    }

    .kasaHeader_nav {
        gap: 26px;
        justify-content: flex-end; 
    }

    .kasaHeader_nav a {
        font-size: 18px;
    }
}

