

.KasaCarousel {
    height: 415px;
    max-width: 1240px;
    position: relative;
}

.KasaCarousel_cover {
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px; 
}

.KasaCarousel_previous {
    position: absolute;
    cursor: pointer;
    width: 46.68px;
    height: 79.2px;
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    fill: white;
}

.kasaCarousel_next {
    position: absolute;
    cursor: pointer;
    width: 46.68px;
    height: 79.2px;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    fill: white;
}



@media (max-width: 600px) {
    .KasaCarousel {
        height: 255px;
    }

    .KasaCarousel_cover {
        height: 255px;
    }

    .kasaCarousel_next {
        width: 35px;
        height: 35px;
    }

    .KasaCarousel_previous {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 450px) {
    
    .kasaCarousel_next {
        width: 24px;
        height: 24px;
    }

    .KasaCarousel_previous {
        width: 24px;
        height: 24px;
    }
}