
.kasaBanner {
    position: relative;
}

.kasaBanner div {
    background-image: url('../../assets/IMG.png');
    background-repeat: no-repeat;
    width: 1240px;
    height: 223px;
    background-position-y: -300px;
    border-radius: 25px;
    filter: brightness(70%);
}

.kasaBanner p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}