
.kasaDropdown {
    border-radius: 10px 10px 5px 5px;
    background: var(--Gray, #F6F6F6);
    width: 100%
}

.kasaDropdown_title {
    display: flex;
    padding: 10px 15px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background: var(--Red, #FF6060);
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
}

.kasaDropdown_title img {
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.kasaDropdown_active {
    transform: rotate(-180deg);
    transition: transform 300ms ease-in-out;
}

.kasaDropdown_notActive {
    transform: rotate(0deg);
    transition: transform 300ms ease-in-out;
}

.kasaDropdown_description {
    display: none;
}

.kasaDropdown_description_active {
    display: block;
    color: #FF6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.6%;
    padding: 20px;
    margin: 0;
}

.kasaDropdown_description p {
    
}